<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/nextPage.js}"></script>
</head>
<body>
<div class = "metadata"><h1>Metadata</h1></div>
<div>
    <!-- <label>Insert User ID: </label><input type="text" id="get_user_id"/>
    <button id="get_button">Show Record</button> <br> -->
    <label>User ID: </label><div id="display_user_id"></div>
    <label>Name: </label><div id="display_name"></div>
    <label>Age: </label><div id="display_age"></div>
    <label>Is Manager?: </label><div id="display_ismanager"></div>
    
  </div>
</body>
</html>